cache:
  paths:
    - .composer/cache

variables:
  TRAVIS_BUILD_DIR: "$CI_PROJECT_DIR"
  MUSTACHE_IGNORE_NAMES: "email_html_body.mustache, email_html.mustache, email_text.mustache"
  COMPOSER_HOME: "$CI_PROJECT_DIR/.composer/cache"
  DOCKER_HOST: tcp://localhost:2375
  DOCKER_TLS_CERTDIR: ""

services:
  - postgres:11
  - mariadb:10.4-bionic
  - docker:dind

test:
  image: amcdev/moodle-plugin-ci:7.4-n.16
  variables:
    MOODLE_BRANCH: "MOODLE_311_STABLE"
  before_script:
    - cd ../..
    - echo $DB_HOST $DB_PASSWORD
    - moodle-plugin-ci install --moodle="moodle-upstream-core" --db-user=$DB_USER --db-pass=$DB_PASSWORD --db-host=$DB_HOST
  script:
    - moodle-plugin-ci phplint
    - moodle-plugin-ci phpcpd
    - moodle-plugin-ci phpmd
    - moodle-plugin-ci codechecker
    - moodle-plugin-ci validate
    - moodle-plugin-ci savepoints
    - moodle-plugin-ci mustache
    - moodle-plugin-ci grunt
    - moodle-plugin-ci phpdoc
    - moodle-plugin-ci phpunit
    - moodle-plugin-ci behat
  parallel:
    matrix:
      - DB: pgsql
        DB_USER: moodleci
        DB_HOST: postgres
        DB_PASSWORD: moodle_psql
        POSTGRES_USER: moodleci
        POSTGRES_PASSWORD: $DB_PASSWORD

      - DB: mariadb
        DB_USER: root
        DB_HOST: mariadb
        DB_PASSWORD: moodle_mariadb
        MYSQL_ROOT_PASSWORD: $DB_PASSWORD
        MYSQL_USER: moodleci
        MYSQL_PASSWORD: $DB_PASSWORD
