{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Displayed when the contact list table has no visible participants.

    @template local_contactlist/empty_state
}}
<div class="alert alert-info d-flex align-items-center w-100" role="alert">
    <i class="fa fa-circle-info fa-fw me-2" aria-hidden="true"></i>
    {{#role_filtered}}{{#str}} nothingtoshow_role, local_contactlist {{/str}}{{/role_filtered}}
    {{^role_filtered}}{{#str}} nothingtoshow, local_contactlist {{/str}}{{/role_filtered}}
</div>
